*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
rfcn_resnet101_coco_11_06_2017\
ssd_inception_v2_coco_2017_11_17\
ssd_mobilenet_v1_coco_2017_11_17\
faster_rcnn_resnet101_coco_11_06_2017\
