*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
rfcn_resnet101_coco_11_06_2017\
ssd_inception_v2_coco_2017_11_17\
ssd_mobilenet_v1_coco_2017_11_17\
faster_rcnn_resnet101_coco_11_06_2017\
ssd_resnet101_v1_fpn_shared_box_predictor_oid_512x512_sync_2019_01_20/
road.svg
ssd_resnet101_v1_fpn_shared_box_predictor_oid_512x512_sync_2019_01_20/
ssd_resnet101_v1_fpn_shared_box_predictor_oid_512x512_sync_2019_01_20/
frozen_inference_graph.pb
model.ckpt.data-00000-of-00001
model.ckpt.index
model.ckpt.meta
pipeline.config
saved_model.pb
variables/
